<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/agregar.css">
    <title>Agregar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <%- include ('./partials/header-red')%>

    <!-- ------------------------- CONTENIDO PRINCIPAL ------------------------- -->
    <main>
        <div class="box">
            <div class="container" id="container">
                <div class="container-form add-container">
                    <h2>Agregar producto</h2>
            
                    <form action="/addProduct" method="post" enctype="multipart/form-data">
                        <div class="newProduct-container">
                            <input class="file" type="file" name="image" id="product">
                            <div class="product-name">
                                <label for="product-name">Nombre:</label>
                                <input type="text" name="product" id="name">
                            </div>
                            <% if(locals.errors && errors.product) { %>
                                <%= errors.product.msg %>
                            <% } %>
                            <div class="product-category">
                                <label for="product-price">Categoria:</label>
                                <select name="select"> 
                                    <%for(let i=0; i<categorias.length; i++){%>
                                        <option value="<%=[i+1]%>"><%=categorias[i].categoria%></option>
                                    <%} %>
                                </select>
                            </p>
                            <div class="product-price">
                                <label for="product-price">Precio:</label>
                                <input type="text" name="price" id="price">
                            </div>
                            <div class=text-danger style="color: rgb(170, 23, 23);">
                                <% if(locals.errors && errors.price) { %>
                                    <%= errors.price.msg %>
                                <% } %>
                            </div>
                            <div class="product-description">
                                <label for="product-price">Descripción:</label>
                                <textarea name="description" id="description"></textarea>
                            </div>
                            <div class=text-danger style="color: rgb(170, 23, 23);">
                                <% if(locals.errors && errors.description) { %>
                                    <%= errors.description.msg %>
                                <% } %>
                            </div>
                            <div class="btn">
                                    <button type="submit">Guardar</button>
                                <p class="btn-right">
                                    <a href="/dashboard"><button type="button">Volver</button></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>