<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_AZUL.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/editar.css">
    <title>Editar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <a href="/"><img class="logo" src="..\images\logos\logo-kruto-rojo.png" alt="kruto_azul"></a>
            </div>
        </section>
    </header>

    <main>
        <div class="box">
            <div class="container" id="container">
                <div class="container-form add-container">
                    <h2>Editar producto</h2>
            
                    <form action="/editarProducto?_method=PUT" method="POST" >
                        <div class="editProduct-container">
                            <p>
                                <label for="nombre">Nombre producto</label>
                                <input type="text" name="nombre" value="<%=producto.nombre%>">
                            </p>
                            <% if(locals.errors && errors.product) { %>
                                <%= errors.product.msg %>
                            <% } %>
                            <p>
                                <label for="product-price">Categoria</label>
                                <select name="select"> 
                                    <%for(let i=0; i<categorias.length; i++){%>
                                        <option value="<%=[i+1]%>"><%=categorias[i].categoria%></option>
                                    <%} %>
                                </select>
                            </p>
                            <p>
                                <label for="precio">Precio</label>
                                <input type="text" name="precio" value="<%=producto.precio%>.00">
                            </p>
                            <div class=text-danger style="color: rgb(170, 23, 23);">
                                <% if(locals.errors && errors.price) { %>
                                    <%= errors.price.msg %>
                                <% } %>
                            </div>
                            <p>
                                <label for="descripcion">Descripción</label>
                                <textarea name="descripcion" value="<%=producto.descripcion%>"><%=producto.descripcion%></textarea>
                            </p>
                            <div class=text-danger style="color: rgb(170, 23, 23);">
                                <% if(locals.errors && errors.description) { %>
                                    <%= errors.description.msg %>
                                <% } %>
                            </div>
                            <div class="btn">
                                    <button type="submit">Actualizar</button>
                                <p class="btn-right">
                                    <button type="reset">Volver</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>