<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/editProduct.css">
    <title>Editar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <%- include ('./partials/header-rojo')%>

    <main>
        <div class="container" id="container">
            <div class="container-form edit-container">
                <h2>Edita un producto</h2>
                <form action="/editProduct/<%=product.id%>?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="editProduct-container">
                    <div class="container-edit">
                        <img src="<%=product.image%>" alt="">
                    </div>
                        <input class="file" type="file" name="image" id="product">
                        <p>
                            <label for="product-name">Nombre del Producto</label>
                            <input type="text" name="name" id="name" value="<%=product.name%>">
                        </p>
                        <p>
                            <label for="product-name">Descripción</label>
                            <input type="textarea" name="description" id="description" value="<%=product.description%>">
                        </p>
                        <p>
                            <label for="product-name">categoria</label>
                            <input type="text" name="category" id="category" value="<%=product.category%>">
                        </p>
                        <p>
                            <label for="product-price">Precio</label>
                            <input type="text" name="price" id="price" value="<%=product.price%>">
                        </p>
                        <p>
                            <button type="submit">Guardar</button>
                        </p>
                        <p>
                            <a href="/products"><button type="button">Volver</button></a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>

</body>

</html>