<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/eliminar.css">
    <title>Eliminar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <%- include ('./partials/header-red')%>
    </header>

    <main>
        <div class="box">
            <div class="container" id="container">
                <div class="container-form add-container">
                    <h2>Detalles del Producto</h2>
            
                    <form action="/eliminarProducto/<%=producto.id%>/delete?_method=DELETE" method="POST">
                        <div class="newProduct-container">
                            <div class="product-name">
                                <label for="nombre">Nombre producto:</label>
                                <p><%=producto.nombre%></p>
                            </div>
                            <div class="product-price">
                                <label for="nombre">Precio producto:</label>
                                <p>$ <%=producto.precio%> .00</p>
                            </div>
                            <div class="product-description">
                                <label for="nombre">Descripcion producto:</label>
                                <p><%=producto.descripcion%></p>
                            </div>
                            <div class="question">
                                <p>¿Estas seguro de eliminar este producto?</p>
                            </div>
                            <div class="btn">
                                <div class="btn-left">
                                    <button type="submit">Eliminar</button>
                                </div>
                                <div class="btn-right">
                                    <a href="/dashboard"><button type="button">Volver</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>