<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Profile | Kruto Store</title>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
</head>
<body>
    <!-- ------------------------------- HEADER -------------------------------- -->
    <header>
        <%- include ('./partials/header-red')%>
    </header>

    <!-- -------------------------------- MAIN --------------------------------- -->

    <div class="container">
        <div class="leftbox">
            <nav>
                <a onclick="tabs(0)" class="tab active">
                    <i class="fa fa-user"></i>
                </a>
                <a onclick="tabs(1)" class="tab">
                    <i class="fa fa-credit-card"></i>
                </a>
                <a onclick="tabs(2)" class="tab">
                    <i class="fa fa-tv"></i>
                </a>
                <a onclick="tabs(3)" class="tab">
                    <i class="fa fa-tasks"></i>
                </a>
                <a onclick="tabs(4)" class="tab">
                    <i class="fa fa-cog"></i>
                </a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile tabShow">
                <h1>Personal Info</h1>
                <form action="PUT" method="POST" enctype=/perfil?_method="multipart/form-data">
                    <div class="image-profile">
                        <img src=<%=usuario.image%>>
                    </div>
                    <div class="profile-name profile-div">
                        <label for="name">User name:</label>
                        <input type="text" id="name" name="name" value="<%=usuario.username%>">
                        <p>Usuario mayor a 5 caracteres</p>
                    </div>
                    <div class="email-profile profile-div">
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo" value="<%=usuario.email%>">
                    </div>
                    <div class="profile-date profile-div">
                        <label for="birthday">Birthday date</label>
                        <input type="date" id="date" name="birthday" value="Birthday date">
                    </div>
                    <div class="password-profile profile-div">
                        <label for="password">Nueva contraseña:</label>
                        <input type="password" id="password" name="password" placeholder="Nueva contraseña">
                        <p>Contraseña mayor a 10 caracteres</p>
                    </div>
                    <div class="newImage-profile">
                        <input type="file" id="image" name="image" >
                    </div>
                    <div class="btn-profile profile-div">
                        <button type="submit" class="btn-1">Actualizar</button>
                        <form action="/perfil?_method=DELETE" method="POST" >
                            <button type="submit" class="perfil_boton2">Eliminar mi cuenta</button>
                        </form>
                    </div>
                </form>
                <div class="close-session">
                    <a href="/index"><i class="fas fa-power-off"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="Imagen">
        <img src=<%=usuario.image%>>
    </div>
    <form action="PUT" method="POST" enctype=/perfil?_method="multipart/form-data">
        <label for="name">Nombre de usuario:</label>
        <input type="text" id="name" name="name" value="<%=usuario.username%>">
        <p>Usuario mayor a 5 caracteres</p>
    
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" value="<%=usuario.email%>">
    
        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Nueva contraseña">
        <p>Contraseña mayor a 10 caracteres</p>
        
        <input type="file" id="image" name="image" >
    
        <button type="submit" class="perfil_boton1">Actualizar</button>
    </form>
    <form action="/perfil?_method=DELETE" method="POST" >
        <button type="submit" class="perfil_boton2">Eliminar mi cuenta</button>
    </form>
    <section>
        <button>Cerrar Sesion</button>
    </section> -->

    <script src="jquery/jquery.js"></script>

    <script></script>

    <script></script>
</body>
</html>