<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/products.css">
    <link rel="stylesheet" href="./images/logos/FAVICON_2_ROJO.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
<!-- ------------------------------- HEADER -------------------------------- -->
    <header>
        <%- include ('./partials/header-red')%>
    </header>

<!-- -------------------------------- TITLE -------------------------------- -->
    <div class="title-list">
        <h1>ANIME</h1>
    </div>
<!-- ------------------------------ PRODUCTOS ------------------------------ -->
    <main>
        <section class="main-products">
            <% for(i=0; i<ingresan.length; i++){%>
            <article class="main-articles">
                <img src=<%=ingresan[i].imagenes.image%>>
                <div class="article-name">
                    <p><%=ingresan[i].nombre%></p>
                </div>
                <div class="article-cost">
                    <p><%=ingresan[i].precio+".00"%></p>
                </div>
                <div class="article-form">
                    <a href="/productCart">
                        <form action="/products/<%=ingresan[i].id%>" method="post">
                            <input type="hidden" name="id" value=<%=ingresan[i].id%>>
                            <button id="anadir" class="heartbeat">Añadir</button>
                        </form>
                    </a>
                    <a href="/productDetail/<%=i+1%>">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <% } %>
        </section>
    </main>

<!-- -------------------------------- MENU --------------------------------- -->
<%- include ('./partials/menu')%>
</body>

</html>