<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProducts.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body class="bodyP">
    <!-- MAIN -->
    <main class="main-productDetail">
        <article class="main-producto">
            <div class="img">
                <div class="logoo">
                    <a href="/index"><img class="loge" src="\images\logos\NOMBRE_NEGRO.png" alt="kruto_rojo"></a>
                </div>
                <div class="imgee">
                    <img src="<%=ingresan[id].image%>">
                </div>
            </div>
           
                <div class="producto_description">
                    <div class="titleOne">
                        <h3>Descripcion</h3>
                        <div class="contOne">
                            <h2 class="description"><%=ingresan[id].name%></h2>
                            <h3 class="description"><strong>$ </strong><%=ingresan[id].price%></h3>
                            <p class="description"><strong><%=ingresan[id].category%></strong></p>
                            <p class="description"><%=ingresan[id].description%></p>
                            <a href="/productCart"><button id="anadir"></i>Comprar ahora</button></a>
                            <a href="/productCart"><button id="anadir"></i>Agregar al carrito</button></a>
                        </div>
                    </div>
                    <div class="titleTwo">
                        <h3>Calificación</h3>
                        <div class="contTwo">
                            <div class="producto-caprin">
                                <div class="producto-Ga">
                                    <h3 class="Ga">Garantia</h3>
                                    <p class="Co">Compra Protegida con Kruto payment</p>
                                    <p class="Re">Recibe el producto que esperabas o te devolvemos tu dinero</p>
                                </div>
                            </div>
                            <div class="producto-Other">
                                <h3>Garantia</h3>
                                <p>Compra Protegida con Kruto payment</p>
                                <p>Recibe el producto que esperabas o te devolvemos tu dinero</p>
                            </div>
                            <div class="producto-Other">
                                <h3>Opiniones Stars</h3>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
    </main>
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify"
                                    data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                        <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </footer>
</body>

</html>