<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
<!-- ------------------------------- HEADER -------------------------------- -->
    <header>
        <%- include ('./partials/header-blue')%>
    </header>

<!-- -------------------------------- MAIN --------------------------------- -->
    <div class="main">
        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2><%=ingresan.nombre%></h2>
                <p><%=ingresan.descripcion%></p>
                <h3><%=categoria.categoria%></h3>
                <a href="/productCart">Buy Now</a>
            </div>
            <img src="..\images\productos\nendo18-NB.png">
        </div>
    </div>

<!-- ------------------------------- MENU -------------------------------- -->
<%- include ('./partials/menu')%>
</body>

</html>